.logo {
  float: left;
  width: 80px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background-image: url('https://i.pinimg.com/originals/d0/ad/ee/d0adeea9e1125987e9a92fc50d1fba7f.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
